.fade-in-1 {
  animation: fadeIn 3s 500ms;
  -webkit-animation: fadeIn 3s 500ms;
  -moz-animation: fadeIn 3s 500ms;
  -o-animation: fadeIn 3s 500ms;
  -ms-animation: fadeIn 3s 500ms;
}
.fade-in-2 {
  animation: fadeIn 3s 1s;
  -webkit-animation: fadeIn 3s 1s;
  -moz-animation: fadeIn 3s 1s;
  -o-animation: fadeIn 3s 1s;
  -ms-animation: fadeIn 3s 1s;
}
.fade-in-3 {
  animation-fill-mode: forwards;
  animation: fadeIn 3s 1.5s;
  -webkit-animation: fadeIn 3s 1.5s;
  -moz-animation: fadeIn 3s 1.5s;
  -o-animation: fadeIn 3s 1.5s;
  -ms-animation: fadeIn 3s 1.5s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
