@media screen and (max-width: 1280px) {
  nav {
    justify-content: flex-end;
    height: 60px;
    line-height: 60px;
    background-color: var(--bg);
    border-bottom: 1px dashed var(--primary-shadow);
    width: 100vw;
  }
  nav span {
    font-family: "Cairo";
    font-weight: bold;
    cursor: pointer;
    padding: 0.2rem;
    background-color: var(--primary);
    border-radius: 30px;
    padding: 0px 30px;
    height: 40px;
    display: flex;
    margin: 15px 0 25px 0;
  }
  nav .menu {
    margin: 0;
    right: 15px;
    border: 1px dashed var(--primary-shadow);
    border-top: none;
    top: 60px;
    display: none;
    position: absolute;
    width: 220px;
    background-color: var(--bg);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }
  nav .menu a {
    display: flex;
    align-items: center;
    margin: 20px 0;
    line-height: 20px;
  }
  nav label {
    display: flex;
    align-items: center;
  }
  nav label .icon {
    margin-right: -1rem;
  }
  nav label::before {
    font-family: "Raleway";
    font-weight: bold;
    content: "JMF";
    color: var(--primary);
    display: flex;
    padding-right: 10px;
  }
  nav #toggle:checked + .menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .container section .pill {
    margin-top: 1rem;
    float: right;
  }
  .container section#welcome {
    position: relative;
    background-position: 0;
    background-size: cover;
    background-color: #00000090;
    background-blend-mode: soft-light;
  }
  .container section#welcome .welcome-body {
    opacity: 1;
    line-height: 1;
    margin-left: 2rem;
    margin-top: 23rem;
  }
  .container section#welcome .welcome-body .hello {
    font-size: 1.8rem;
  }
  .container section#welcome .welcome-body .name {
    text-shadow: 0 0 5px var(--primary-shadow);
    color: var(--primary);
    font-family: "Raleway";
    font-weight: 800;
    font-size: 3rem;
  }
  .container section#welcome .welcome-body .slogan {
    display: flex;
    line-height: 0;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 1.3rem;
    margin-top: 2rem;
    height: 7rem;
  }
  .container section#welcome .welcome-body .social {
    display: none;
  }
  .container section#about {
    flex-wrap: wrap;
    position: relative;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
  }
  .container section#about .about-body {
    width: 100%;
    margin-top: 80px;
    flex-direction: column;
  }
  .container section#about .about-body h1 {
    font-size: 3rem;
    text-align: center;
  }
  .container section#about .about-body p {
    font-size: 1.3rem;
    text-align: justify;
  }
  .container section#about .about-body p span {
    color: var(--primary);
  }
  .container section#about .about-body .image img {
    height: 400px;
  }
  .container section#about .about-body .info {
    width: 80%;
  }
  .container section#experience {
    flex-wrap: wrap;
    position: relative;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
  }
  .container section#experience .experience-body h1 {
    font-size: 3rem;
  }
  .container section#experience .experience-body .job {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 90vw;
    margin-bottom: 4rem;
  }
  .container section#experience .experience-body .job .left {
    align-items: flex-start;
    padding-right: 0;
    width: 100%;
    min-width: 0;
  }
  .container section#experience .experience-body .job .left div:nth-child(1) {
    font-size: 1.6rem;
    font-weight: 800;
  }
  .container section#experience .experience-body .job .left div:nth-child(2) {
    font-size: 1rem;
    font-weight: 800;
    margin-top: -1rem;
  }
  .container section#experience .experience-body .job .right {
    padding: 1rem;
    margin-top: 1rem;
    border-left: none;
    border-top: 1px solid #666666;
    font-size: 1.2rem;
    text-align: justify;
  }
  .container section#education {
    flex-wrap: wrap;
    position: relative;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
  }
  .container section#education .education-body h1 {
    font-size: 3rem;
  }
  .container section#education .education-body .degree {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 90vw;
    margin-bottom: 4rem;
  }
  .container section#education .education-body .degree .left {
    align-items: flex-start;
    padding-right: 0;
    width: 100%;
    min-width: 0;
  }
  .container section#education .education-body .degree .left div:nth-child(1) {
    align-items: flex-start;
    font-size: 1.6rem;
    font-weight: 800;
  }
  .container section#education .education-body .degree .left div:nth-child(2) {
    font-size: 1rem;
    font-weight: 800;
    margin-top: -1rem;
  }
  .container section#education .education-body .degree .right {
    padding: 1rem;
    margin-top: 1rem;
    border-left: none;
    border-top: 1px solid #666666;
    font-size: 1.2rem;
    text-align: justify;
  }

  .icon {
    width: 24px;
    height: 24px;
  }
  .icon.ig {
    height: 26px;
  }
}/*# sourceMappingURL=media.css.map */