@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200;400;600;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

:root {
  /* Color */
  --hue-color-primary: 348;
  --hue-color-secondary: 38;

  /* HSL color mode */
  --primary-color: hsl(348, 83%, 47%);
  --primary-color-alt: hsl(348, 93%, 53%);
  --secondary-color: hsl(38, 100%, 50%);
  --secondary-color-alt: hsl(38, 100%, 61%);

  --text-color: hsl(0, 0%, 95%);
  --grey-color: #666666;
  --purple-color: #11021b;
  --dark-color-one: #121212;
  --dark-color-two: #0a0a0a;
  --dark-color-three: #030303;

  --progress-tooltip-color: #202020;
  --progress-bg-color: hsl(349, 80%, 12%);

  /* Fonts */
  --hello-font: "Montserrat", sans-serif;
  --title-font: "Raleway", sans-serif;
  --body-font: "Cairo", sans-serif;

  /* .5rem = 8px, 1rem = 16px, 1.5rem = 24px ... */
  --enormous-font-size: 8rem;
  --larger-font-size: 7rem;
  --large-font-size: 6rem;
  --biger-font-size: 4rem;
  --big-medium-font-size: 3rem;
  --big-font-size: 2rem;
  --normal-font-size: 1.5rem;
  --small-font-size: 1rem;
  --smaller-font-size: 0.8rem;

  /* Font weight */
  --font-w-thin: 200;
  --font-w-regular: 400;
  --font-w-semi-bold: 600;
  --font-w-bolder: 800;

  /* Transitions */
  --transition-fast: 0.3s;
  --transition-slow: 0.8s;

  /* Margins */
  --margin-grid-2: 3rem;

  --nav-height: 4.5rem;
}

/* General */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

::-webkit-scrollbar {
  width: 11px;
  background: var(--dark-color-two);
}

::-webkit-scrollbar-track {
  background: var(--dark-color-two);
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
  border-radius: 6px;
  border: 3px solid var(--purple-color);
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Cairo";
  background-color: var(--dark-color-two);
  overflow-y: scroll;
  overflow-x: hidden;

  scrollbar-width: thin;
  scrollbar-color: var(--primary-color) var(--purple-color);
}

h1 {
  font-family: var(--title-font);
  font-size: var(--biger-font-size);
  color: var(--text-color);
  text-align: center;
  margin: 4rem 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

img {
  max-width: 100%;
  height: auto;
}

.text {
  font-size: var(--normal-font-size);
  color: var(--text-color);
}

.container {
  height: calc(100vh - var(--nav-height));
  position: relative;
  z-index: 5;
  margin: 0 auto;
  padding: 0 4rem;
  max-width: 92rem;
}

.grid-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: center;

  .column-1 {
    margin-left: 1.5rem;

    .title {
      font-size: var(--big-font-size);
      font-weight: var(--font-w-bolder);
    }

    .range {
      font-size: var(--small-font-size);
      font-weight: var(--font-w-bolder);
      color: var(--grey-color);
      margin-top: -1rem;
    }

    .rol {
      font-family: var(--title-font);
      font-size: var(--normal-font-size);
      font-weight: var(--font-w-semi-bold);
      color: var(--text-color);
    }
  }

  .column-2 {
    margin-left: 1.5rem;
  }
}

.pill {
  display: block;
  font-family: var(--title-font);
  font-weight: var(--font-w-bolder);
  font-size: 0.7rem;
  text-transform: uppercase;
  cursor: default;
  color: var(--purple-color);
  background-color: var(--secondary-color);
  border-radius: 500px;
  padding: 0.15rem 0.6rem;
  margin: 1.4rem 0 0rem 1rem;
  height: fit-content;
  width: fit-content;
  float: right;
}

.button {
  border: 2px solid var(--primary-color);
  color: var(--text-color);
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 2rem;
  padding: 0.5rem 2.1rem;
  width: fit-content;
  float: right;
  line-height: 1.25;

  &:hover {
    background-color: var(--primary-color);
    transition: all 0.2s linear;
  }
}

.show_menu {
  right: 1rem !important;
}

.progress-bar {
  animation: 1s linear 0s 1 progressBar;
}

/* End General */

/* Animations */

@keyframes slideInFromBottom {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideInFromRight {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes progressBar {
  0% {
    width: 0;
  }

  100% {
    width: attr(per);
  }
}

/* End Animations */

header {
  width: 100%;
  background-color: var(--dark-color-three);
  border-bottom: 1px solid var(--dark-color-one);
  overflow: hidden;
  position: fixed;
  z-index: 50;

  nav {
    .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: var(--nav-height);
    }

    .nav_toggle {
      display: none;
      color: var(--text-color);
    }

    .logo {
      display: flex;
      align-items: center;
      width: 80px;
    }

    .links {
      ul {
        display: flex;
        align-items: center;
      }

      a {
        display: flex;
        position: relative;
        justify-content: center;
        width: fit-content;
        margin: 1rem 1.5rem;
        text-transform: uppercase;
        color: var(--text-color);
        white-space: nowrap;

        &:before {
          content: "";
          position: absolute;
          width: 100%;
          height: 2px;
          bottom: 0;
          margin: -5px 0;
          background-color: var(--primary-color);
          visibility: hidden;
          transform: scaleX(0);
          transition: all 0.2s ease-in-out 0s;
        }

        &:hover::before {
          visibility: visible;
          transform: scaleX(1);
        }

        &.button::before {
          display: none;
        }
      }

      i {
        display: none;
      }
    }
  }
}

#popup {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("/img/sokoban.png");
  background-size: contain;
  position: fixed;
  top: 100px;
  right: 30px;
  width: 300px;
  height: 200px;
  z-index: 10;
  border: 5px solid crimson;
  border-radius: 10px;

  #close {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 11;
  }

  div {
    color: white;
    font-family: "Press Start 2P";
    text-align: center;
    text-shadow: 0 0 5px var(--dark-color-one);
  }
}

section {
  min-height: 100vh;
  padding-top: var(--nav-height);
  width: 100%;
  background-color: var(--dark-color-three);

  &#home {
    .home-content {
      height: calc(100vh - var(--nav-height));
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      background-color: black;

      .column-left {
        min-width: max-content;
        line-height: 0.85;
        padding: 5rem 0 0 15rem;
        z-index: 1;

        .hello {
          font-family: var(--hello-font);
          font-size: 4rem;
          color: var(--text-color);
        }

        .name {
          text-shadow: 0 0 5px var(--primary-color-alt);
          color: var(--primary-color);
          font-family: var(--title-font);
          font-weight: var(--font-w-bolder);
          font-size: var(--enormous-font-size);
        }

        .slogan {
          display: flex;
          line-height: 3rem;
          flex-direction: column;
          margin-top: 2rem;
          font-weight: var(--font-w-thin);
          font-size: var(--big-font-size);
          color: var(--text-color);

          div {
            display: inline-block;

            &::after {
              content: "/>";
              font-weight: var(--font-w-semi-bold);
              color: var(--primary-color);
            }

            &::before {
              content: " <";
              font-weight: var(--font-w-semi-bold);
              color: var(--primary-color);
            }
          }
        }

        .social {
          display: flex;
          flex-direction: row;
          align-items: flex-start;
          float: left;
          // width: 100%;
          gap: 8rem;
          position: absolute;
          bottom: 10%;
          // margin-top: 10rem;
          animation: 1s ease-out 0s 1 slideInFromBottom;

          a {
            color: var(--text-color);
            font-size: var(--biger-font-size);
            transition: transform 0.2s ease;
            will-change: bottom;

            &:hover {
              color: var(--primary-color);
              transform: translateY(-10px);
            }
          }
        }
      }

      .column-right {
        background-image: url("/img/portrait.jpg");
        background-repeat: no-repeat;
        background-position: right;
        position: absolute;
        width: 100%;
        height: 100%;
        float: right;
        right: 0;
        top: 0;
        animation: 1s ease 0s 1 slideInFromRight;
      }
    }
  }

  &#about {
    .container {
      i {
        font-size: 1rem;
        color: grey;
      }

      .column-1 {
        img {
          border-radius: 10px;
          max-height: 40rem;
        }
      }

      .column-2 {
        font-size: var(--normal-font-size);

        h1 {
          margin: 0rem 0 3rem 0;
          text-align: left;
        }

        p {
          &.text {
            span {
              color: var(--primary-color);
            }
          }
        }
      }
    }
  }

  &#experience {
    background-color: var(--purple-color);

    h1 {
      text-align: center;
    }

    .container {
      height: max-content;
      padding-bottom: var(--margin-grid-2);

      .job {
        margin-bottom: var(--margin-grid-2);

        &.grid-2 {
          align-items: flex-start;
        }

        .column-1 {
          text-align: right;
          padding-right: calc(var(--margin-grid-2) * 2);
          margin-top: -1rem;

          .title {
            color: var(--secondary-color);
          }
        }

        .column-2 {
          padding: 1rem 0 3rem 3rem;
          border-left: 1px solid var(--grey-color);
          margin-left: calc(var(--margin-grid-2) * -1);

          p {
            &.text {
              span {
                color: var(--secondary-color);
              }
            }
          }
        }
      }
    }
  }

  &#education {
    background-color: var(--dark-color-three);

    h1 {
      text-align: center;
    }

    .container {
      height: max-content;
      padding-bottom: var(--margin-grid-2);

      .degree {
        margin-bottom: var(--margin-grid-2);

        &.grid-2 {
          align-items: flex-start;
        }

        .column-1 {
          text-align: right;
          padding-right: calc(var(--margin-grid-2) * 2);
          margin-top: -1rem;

          .title {
            color: var(--primary-color);
          }

          .button {
            margin-top: 1rem;
          }
        }

        .column-2 {
          padding: 1rem 0 3rem 3rem;
          border-left: 1px solid var(--grey-color);
          margin-left: calc(var(--margin-grid-2) * -1);

          ul {
            list-style: initial;
            margin-left: 2rem;
          }

          p {
            &.text {
              span {
                color: var(--primary-color);
              }
            }
          }
        }
      }
    }
  }

  &#skills {
    background-color: black;

    .container {
      height: max-content;
      padding-bottom: 6rem;

      .skills {
        .skill {
          width: 100%;
          padding: 1rem 20rem;

          .name {
            font-size: var(--big-font-size);
            font-weight: var(--font-w-semi-bold);
            color: var(--text-color);
            margin: 0.5rem 0;
          }

          .bar {
            height: 20px;
            background-color: var(--progress-bg-color);
            border-radius: 8px;

            .per {
              height: inherit;
              border-radius: inherit;
              background-color: var(--primary-color);

              &::before {
                content: attr(per);
                position: relative;
                padding: 0.2rem 0.5rem;
                background-color: var(--progress-tooltip-color);
                border-radius: 5px;
                color: var(--text-color);
                font-weight: var(--font-w-bolder);
                top: -3rem;
                float: right;
                right: -1rem;
              }

              .arrow {
                height: 10px;
                width: 10px;
                background-color: var(--progress-tooltip-color);
                transform: rotate(225deg);
                border-radius: 0 0 12px 0;
                position: relative;
                top: -1.05rem;
                float: right;
                right: -2.37rem;
              }
            }
          }
        }
      }
    }
  }

  &#contact {
    background-color: var(--purple-color);

    .container {
      height: fit-content;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: calc(100vh / 2);

      .social {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        float: left;
        width: 100%;
        margin-top: 3rem;
        animation: 1s ease-out 0s 1 slideInFromBottom;

        a {
          color: var(--text-color);
          font-size: var(--biger-font-size);
          transition: transform 0.2s ease;
          will-change: bottom;

          &:hover {
            color: var(--secondary-color);
            transform: translateY(-10px);
          }
        }
      }
    }
  }
}

@media screen and (width: 1366px) {
  section {
    &#home {
      .home-content {
        .column-left {
          .social {
            bottom: 5%;
            a {
              font-size: var(--big-medium-font-size);
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 968px) {
  :root {
    --nav-height: 4rem;
    --biger-font-size: 3rem;
    --normal-font-size: 1.2rem;
  }

  h1 {
    margin: 2rem 0;
  }

  .container {
    height: initial;
    padding: 0 2rem;
  }

  .grid-2 {
    grid-template-columns: repeat(1, 1fr);

    .column-1 {
      margin: 2rem 0;
    }

    .column-2 {
      margin: 2rem 0;
    }
  }

  .pill {
    margin: 0.5rem 0;
  }

  header {
    background-color: var(--dark-color-two);
    border-bottom: 2px solid var(--primary-color);

    nav {
      .logo {
        width: 50px;
      }

      .links {
        padding-right: 3rem;

        ul {
          flex-direction: column;
          position: fixed;
          width: fit-content;
          top: 4rem;
          right: -100%;
          height: fit-content;
          background-color: var(--dark-color-two);
          padding: 0rem 0rem 1.5rem;
          border: 2px solid var(--primary-color-alt);
          border-top: none;
          border-radius: 0rem 0rem 1.3rem 1.3rem;
          transition: var(--transition-fast);
        }

        a {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
        }
      }

      .nav_toggle {
        font-size: 1.5rem;
        cursor: pointer;
        display: initial;
        transition: var(--transition-fast);

        &:hover {
          color: var(--primary-color-alt);
        }
      }

      .nav_close {
        transition: var(--transition-fast);
        transform: rotateZ(90deg);

        &:hover {
          color: var(--primary-color-alt);
        }
      }
    }
  }

  section {
    &#home {
      .home-content {
        .column-left {
          padding: 1rem;
          position: absolute;
          bottom: 0;

          .hello {
            font-size: 1.8rem;
          }

          .name {
            text-shadow: initial;
            font-size: var(--biger-font-size);
          }

          .slogan {
            font-size: 1.4rem;
            line-height: 1.5;
          }

          .social {
            display: none;
          }
        }

        .column-right {
          background-position: 0;
          background-size: cover;
          background-blend-mode: soft-light;
        }
      }
    }

    &#about {
      .container {
        .column-1 {
          margin-bottom: 0;
        }

        .column-2 {
          h1 {
            margin: 0 0 2rem 0;
            text-align: center;
          }

          p {
            &.text {
              text-align: justify;
            }
          }
        }
      }
    }

    &#experience {
      .container {
        .job {
          .column-1 {
            text-align: left;
            padding: 0;
            margin: 0;

            .title {
              line-height: 1;
              padding-bottom: 1rem;
            }
          }

          .column-2 {
            padding: 1rem 0rem;
            margin: 1rem 0rem;
            border-left: none;
            border-top: 1px solid #666666;
            text-align: justify;
          }
        }
      }
    }

    &#education {
      .container {
        .degree {
          .column-1 {
            text-align: left;
            padding: 0;
            margin: 0;

            .title {
              line-height: 1;
              padding-bottom: 1rem;
              display: flex;
              flex-direction: column;
            }

            a {
              float: left;
            }
          }

          .column-2 {
            padding: 1rem 0rem;
            margin: 1rem 0rem;
            border-left: none;
            border-top: 1px solid #666666;
            text-align: justify;

            ul {
              li {
                padding: 1rem 0;
                text-align: left;
              }
            }
          }
        }
      }
    }

    &#skills {
      background-color: var(--dark-color-one);

      .container {
        padding-bottom: 5rem;

        .skills {
          .skill {
            padding: 0.5rem 0;

            .name {
              font-size: var(--normal-font-size);
              white-space: nowrap;
              margin-bottom: 0.2rem;
            }

            .bar {
              height: 10px;
              background-color: var(--progress-bg-color);

              .per {
                &::before {
                  background-color: var(--progress-tooltip-color);
                }

                .arrow {
                  background-color: var(--progress-tooltip-color);
                }
              }
            }
          }
        }
      }
    }

    &#contact {
      .container {
        height: fit-content;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: calc(calc(100vh / 1.5));

        .social {
          margin-top: 0;
          flex-direction: column;

          a {
            color: var(--text-color);
            font-size: var(--big-font-size);
            transition: transform 0.2s ease;
            will-change: bottom;

            i {
              padding-right: 0.5rem;
            }
          }
        }
      }
    }
  }
}
