:root {
  --bg-color: #32b129;
  --primary-color: #11681d;
  --accent-color: #a6f533;
  --base-color: #ffffff;
  --pill: rgba(0, 0, 0, 0.54);
}

@font-face {
  font-family: Raleway;
  src: url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;800&display=swap");
}

body {
  margin: 0;
  background-color: black;
}

#portrait {
  height: 100%;
  background-image: url("../images/portrait.jpg");
  background-position: right;
  background-repeat: no-repeat;
  display: none;
}

#welcome {
  display: none;
  flex-direction: column;
  align-items: flex-start;
  line-height: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -60%);
  width: 80%;
}

#welcome .hello {
  color: white;
  font-family: "Raleway";
  font-size: 4rem;
}
#welcome .name {
  color: crimson;
  font-family: "Raleway";
  font-weight: 800;
  font-size: 7rem;
  white-space: nowrap;
  text-shadow: 0 0 5px rgb(161, 14, 75);
}

@media (max-width: 900px) {
  #portrait {
    background-size: cover;
    opacity: 0.4;
  }

  #welcome {
    line-height: 1;
    transform: translate(-50%, 75%);
    width: 100%;
    margin-left: 2rem;
  }

  #welcome .hello {
    color: white;
    font-family: "Raleway";
    font-size: 2rem;
  }

  #welcome .name {
    text-shadow: 0 0 5px rgb(161, 14, 75);
    color: crimson;
    font-family: "Raleway";
    font-weight: 800;
    font-size: 3.6rem;
  }
}
